
.three-c {
	display: inline-block;
	width: 150px !important;
	text-align: center;
}

.ql {
	display: inline-block;
}

.two-c {
	display: inline-block;
	width: 150px !important;
	text-align: center;
	vertical-align: middle;
}

.cent {
	text-align: center;
	margin: auto;
	width:500px;
}

.big {
	font-size: 2em;
	color: blue;
	margin: auto;
}

button {
	padding: 5px 10px !important;
}

/* Remove the title bar */
.navbar{
  visibility: hidden;
}

body {
  padding-top: 4px;
  background-color: #f4f4f4;
}

/* Set the main body/text font */
p, a {
    font-family: "adelle-sans",helvetica,arial,sans-serf;
}

/* Main results output */
h1 {
  font-family: "adelle-sans",helvetica,arial,sans-serf;
  font-size: 48px;
  font-weight: bold;
  color: #416fba;
  text-align: center;
}

h3 {
  font-family: "adelle-sans",helvetica,arial,sans-serf;
  text-align: center;
}

/* Titles at the top of each panel */
.chart-title {
  font-family: "adelle-sans",helvetica,arial,sans-serf;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: #444;
}

/* Center the numeric sliders */
.shiny-input-container:not(.shiny-input-container-inline) {
  margin-left: auto;
  margin-right: auto;
}

/* Overall app title */
.navbar-brand {
  font-size: 22px;
  font-weight: bold;
}

/* Numerical inputs */
.form-control {
  font-size: 17px;
  padding: 0 10px;
  background-color: #bdd4f9;
  border: none;
  height: 30px;
  width : 120px;
  margin: auto;
}

/* Output results table */
.table {
	max-width: 400px;
}


